<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">
        <link rel="stylesheet" href="style/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title>Mini-Instagram</title>
    </head>
    <body ng-app="instagramApp">
        <div class="main" ng-controller="photoController">
                <div id="fixed" when-scrolled="loadMore()">
                       <h3><strong> Welcome to mini-instagram</strong></h3>
                      <div>
                            <div class="photo" ng-repeat="i in items">{{i.id}}</div>
                      </div>  
                      <button type="button" ng-click="startLoading()" class="btn-circle btn-lg">Load more</button>
                </div>
            
        </div>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.compat.js"></script>
        <script src="js/module.js"></script>
        <script src="js/controller.js"></script>
        
    </body>
</html> 