<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">
        <link rel="stylesheet" href="client/style/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <title>Mini-Instagram</title>
    </head>
    <body ng-app="instagramApp">
        <div class="wrapper">
            <div class="main" ng-controller="PhotoController">
                    <div id="fixed" when-scrolled="loadMore()">
                           <div class="header">
                                <img class="profilePhoto" ng-src="server/images/kygo.jpeg" ></img>
                                <div class="profileDesription">
                                    <span>kygomusic </span> <button  type="button" class="follow"> Follow </button><br>
                                    <h4><strong>Kygo</strong> GET CLOUD NINE HERE ⬇️ smarturl.it/CloudNineiT</h4>
                                    <h4><strong>473</strong> posts  |  <strong>873k</strong> followers  |  <strong>85</strong> following </h4>   
                                </div>
                           </div>
                          <div>
                                <img class="photo" ng-repeat="i in items" ng-src="{{'server/images/' + i.name}}"> </img>
                          </div>  
                          <button type="button" ng-click="startLoading()" class="btn-circle btn-lg">Load more</button>
                    </div>
            </div>
        </div>

        <script src="client/bower_components/angular/angular.js"></script>
        <script src="client/js/module.js"></script>
        <script src="client/js/controller.js"></script>
        <script src="client/js/directives/whenScrolled.js"></script>
    </body>
</html> 