.main{
	width: 70%;
	margin: 0 auto;
	margin-top: 1%;
	padding: 5px;
	border-radius: 30px;
	text-align: center;
	padding-bottom: 10px;
}
.inputArea{
	margin: 5px;
	width: 100%;
	text-align: center;
}
input{
	width: 70%;
	line-height: 2.5;
}
.list{
	text-align:center;
}
.todo{
	font-family: 'Verdana';
}
.photo {
  height: 290px;
  border-bottom: 1px solid gray;
  width: 290px;
  background: #337ab7;
  margin: 10px;
  display: inline-block;
}

#fixed {
	margin: 0 auto;
	margin-top: 1%;
  height: 800px;
  overflow: auto;
  width: 1000px;
  text-align: center;
}
.btn-circle.btn-lg {
  width: 120px;
  height: 120px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 70px;
  border: 2px solid #3897f0;
  color: #3897f0;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Calibri';
  background-color: white;
}
::-webkit-scrollbar { 
    display: none; 
}
.header{
  width: 90%;
  height: 200px;
  margin: 0 auto;
  text-align: left;
}
.profilePhoto{
  display: inline-block;
  width: 16%;
  border-radius: 80px;
  margin-left: 7%;
}
.profileDesription{
    display: inline-block;
    width: 55%;
    margin-left: 10%;
    text-align: left;
    vertical-align: bottom;
    padding: 10px;
}
span{
  font-size: 30px;
  font-family: "Arial";
}